.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.header-description {
  text-align: center;
  margin-bottom: 20px;
}

.header-description h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.header-description p {
  font-size: 25px;
  margin-bottom: 10px;
}

.header-description ul {
  list-style-type: none;
  padding-left: 0;
}

.header-description ul li {
  font-size: 25px;
}

.header-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.control-group {
  margin-right: 20px;
}

.control-group label {
  font-size: 20px;
  margin-right: 5px;
}

.control-group input {
  padding: 5px;
  font-size: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.buttons-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons-container button:hover {
  background-color: #45a049;
}
/* Stylizacja nagłówków tabeli */
th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: left;
}

/* Stylizacja komórek tabeli */
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Stylizacja wierszy tabeli (co drugi wiersz) */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Stylizacja przycisków w tabelach */
.table-area button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table-area button:hover {
  background-color: #45a049;
}

/* Dodatkowe style dla tabeli zdjęć */
.photo-table img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

